<h4>Web application - Documentation</h4>

<h5>Important</h5>

<p>
    <b>DO NOT USE THIS PACKAGE WITHOUT CHECKING GENERATED TESTS!</b>
    <br>
    You must check and complete all tests you generate, including the most basic methods.
    <br>
    Files to parse must declare <b>ONE</b> class, abstract class, trait or interface to be accepted.
</p>

<h5>Interface</h5>

<p>
    A few actions are available on the main page. You can read this documentation and customize your settings on each
    page.
    <br>
    There is also the <i>CLEAR</i> button, which will refresh the page.
</p>

<h5>Configuring your generation</h5>

<p>
    With the button <i>CUSTOMIZE</i> in the top right corner of the application, you can change a few options:
</p>
<ul>
    <li><b>Automatic getters / setters tests</b>: If it is activated, it will auto-detect getters and setters, and
        generate tests for.
    </li>
    <li><b>Author</b>: If it is set, add a "author" tag on the tests class PHP documentation.</li>
</ul>
<p>
    <b>NB</b>: On each configuration changes, the application will save it on your browser local storage.
</p>

<h5>Generating your tests</h5>

<p>
    There is two ways to generate your unit tests:
</p>
<ul>
    <li><b>Upload your file</b>: You upload your file (no file will be saved) and it generate tests.</li>
    <li><b>Write your code</b>: You paste (and maybe edit) your code and you launch the tests generation.</li>
</ul>

<p>
    Once your tests are generated, you can download as a file, copy the code to clipboard or rerun the generation
    (useful to try the generation configuration!).
</p>

<h5>Advanced</h5>

<p>
    You can also have annotation in your PHP files: for more details, you can refer to
    <a href="https://github.com/paul-thebaud/phpunit-generator/blob/master/DOCUMENTATION.md#documentation-parsing-and-annotations"
       target="_blank">this section</a> of the PHPUnit Generator package documentation.
</p>
