<h4>Web application - Documentation</h4>

<h5>Important</h5>

<p>
    <b>DO NOT USE THIS PACKAGE WITHOUT CHECKING GENERATED TESTS!</b>
    <br>
    You must check and complete all tests you generate, including the most basic methods.
    <br>
    Files to parse must declare <b>ONE</b> class, abstract class, trait or interface to be accepted.
</p>

<h5>Configuring your generation</h5>

<p>
    With the button <i>CUSTOMISE</i> in the top right corner of the application, you can change a few options:
</p>
<ul>
    <li><b>Automatic getters / setters tests</b>: If it is activated, it will auto-detect getters and setters, and generate tests for.</li>
    <li><b>Author</b>: If it is set, add a "author" tag on the tests class PHP documentation.</li>
</ul>
