<!DOCTYPE html>
<html>
<head>
    <title>PhpUnitGen - FR article</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="PhpUnitGen"/>
    <meta name="twitter:description" content="Un outil de développement pour simplifier vos tests unitaires"/>
    <meta name="twitter:image" content="https://raw.github.com/paul-thebaud/phpunit-generator-assets/master/logos/favicons/favicon_base.png"/>

    <!-- Open Graph data -->
    <meta property="og:title" content="PhpUnitGen"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://raw.github.com/paul-thebaud/phpunit-generator-assets/master/logos/favicons/favicon_base.png"/>
    <meta property="og:description" content="Un outil de développement pour simplifier vos tests unitaires"/>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180"
          href="https://github.com/paul-thebaud/phpunit-generator-assets/raw/master/logos/favicons/icons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32"
          href="https://github.com/paul-thebaud/phpunit-generator-assets/raw/master/logos/favicons/icons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16"
          href="https://github.com/paul-thebaud/phpunit-generator-assets/raw/master/logos/favicons/icons/favicon-16x16.png"/>
    <link rel="manifest"
          href="https://github.com/paul-thebaud/phpunit-generator-assets/raw/master/logos/favicons/icons/site.webmanifest"/>
    <link rel="mask-icon"
          href="https://github.com/paul-thebaud/phpunit-generator-assets/raw/master/logos/favicons/icons/safari-pinned-tab.svg?sanitize=true"
          color="#5bbad5"/>
    <link rel="shortcut icon"
          href="https://github.com/paul-thebaud/phpunit-generator-assets/raw/master/logos/favicons/icons/favicon.ico"/>
    <meta name="msapplication-TileColor" content="#2d89ef"/>
    <meta name="msapplication-config"
          content="https://github.com/paul-thebaud/phpunit-generator-assets/raw/master/logos/favicons/icons/browserconfig.xml"/>
    <meta name="theme-color" content="#2196f3"/>

    <link href="https://fonts.googleapis.com/css?family=Palanquin" rel="stylesheet">

    <style type="text/css">
        p, ul {
            font-family: 'Palanquin', sans-serif;
            margin: 0.95em 0 1.20em !important;
            font-size: 21px;
            line-height: 32px;
        }
        ul {
            list-style-type: square;
        }
    </style>
</head>
<body>

    <div class="container">

        <div class="row">

            <div class="col s12 offset-m2 m8">

            </div>

        </div>

    </div>

</body>
</html>
