@charset "UTF-8"

@import "materialize.scss"

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans')
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid')

// Global
body
  min-height: 100vh
  font-family: 'Merriweather Sans', sans-serif

#global
  display: flex
  flex-direction: column
  min-height: 100vh

main
  flex: 1 0 auto
  height: 100%
  padding: 20px 0
  .had-container
    min-width: 100%

@for $index from 1 through 6
  h#{$index}
    font-family: 'Londrina Solid', sans-serif

.btn
  font-family: 'Londrina Solid', sans-serif
  font-size: 130%

.fixed-action-btn
  bottom: 40px

// App page loader
#app-loader
  position: fixed
  z-index: 999999
  width: 100%
  height: 100%
  background-color: #fff

// Navigation
nav
  font-family: 'Londrina Solid', sans-serif
  .brand-logo
    display: flex
    align-items: center
    height: 100%
    img
      width: 150px
  ul li a
    font-size: 120%
    text-transform: uppercase

// Footer
.page-footer
  padding-top: 0

// Mobile navigation
#global-mobile
  position: fixed
  z-index: 99999
  width: 100%
  height: 100%
  left: 0
  top: 0
  background-color: rgba(0, 0, 0, 0.9)
  button
    font-weight: normal

// Configuration
#modal-configuration
  .configuration-categories
    li.configuration-category
      span.configuration-category-title
        padding: 5px 5px 5px 0
        font-weight: bold
      ul.configuration-category-settings
        li.configuration-setting
          padding: 10px
          .row
            margin: 0
            .col
              margin-left: 0
              .input-field
                margin: 0
                .select-wrapper
                  input.select-dropdown
                    margin: 0
                input[name="height"]
                  margin-bottom: 0
            &.annotation
              padding: 5px 0
  .modal-footer
    button
      margin: 5px

// Documentation
#tap-target-documentation
  opacity: 0.9
  background-color: color('orange', 'base')
  .tap-target-content
    padding-bottom: 66px !important
    font-size: 115%

.hasSidebar
  nav, main, footer
    padding-left: 300px
  @media only screen and (max-width: 992px)
    nav, main, footer
      padding-left: 0

ul.browser-default
  list-style: square
  li
    margin-top: 6px
    margin-bottom: 6px

p
  margin-top: 8px
  margin-bottom: 8px

i.char-as-icon
  float: left
  height: 48px
  font-size: 1.2em
  font-weight: bold
  font-style: normal
  line-height: 48px
  margin: 0 32px 0 0
  max-width: 24px
  color: rgba(0, 0, 0, .54)

.card.blue, .card.orange
  .card-content
    padding: 15px
    h5
      font-size: 1.3em
      font-family: 'Merriweather Sans', sans-serif !important
      margin-top: 0 !important
      margin-bottom: 5px !important
      .material-icons
        font-size: 1.1em
    p
      font-size: 0.9em

pre
  code
    background-color: inherit

code
  background-color: rgba(0, 0, 0, .15)
  padding: 2px
  border-radius: 3px

#share-buttons
  img
    width: 55px
    margin: 5px
    padding: 5px
    border: 0
    -webkit-transition: -webkit-transform .5s ease-in-out
    transition: transform .5s ease-in-out
    &:hover
      -webkit-transform: rotate(360deg)
      transform: rotate(360deg)

// Forms
input[type="file"]
  display: none

.grey
  img.circle
    border: 1px solid color('grey', 'base')
  .select-wrapper
    .caret
      color: color('grey', 'base')
    .dropdown-content li
      background-color: color('grey', 'darken-4')
      &:hover
        background-color: lighten(color('grey', 'darken-2'), 5%)
      &.selected
        background-color: lighten(color('grey', 'darken-3'), 10%)
      span
        color: #fff

.white
  img.circle
    border: 1px solid color('grey', 'base')
  .select-wrapper
    .caret
      color: color('grey', 'base')
    .dropdown-content li
      background-color: #fff
      &:hover
        background-color: darken(#fff, 5%)
      &.selected
        background-color: darken(#fff, 10%)
      span
        color: color('grey', 'darken-4')

// Spinner
#spinner-container
  position: fixed
  z-index: 99999
  top: 0
  left: 0
  right: 0
  bottom: 0
  height: 100%
  width: 100%
  background-color: rgba(0, 0, 0, 0.5)
  display: none
  .preloader-wrapper
    position: absolute
    z-index: 99999
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    height: 100px
    width: 100px
    .spinner-orange-only
      border-color: color('orange', 'base')
      .circle
        border-width: 7px !important

.has-blur
  -webkit-transition: all 0.25s ease-out
  transition: all 0.25s ease-out
  -webkit-filter: blur(5px)
  filter: blur(5px)

// Editors
.white
  .CodeMirror
    border: 1px solid color('grey', 'base')

.grey
  .CodeMirror
    border: 1px solid color('grey', 'base')

.CodeMirror
  border-radius: 4px
  background-color: color('grey', 'darken-4') !important
  .CodeMirror-gutters
    background-color: color('grey', 'darken-4') !important

@import "themes.sass"
